<div id="dialog-container">
  <h1 id="dialog-title" mat-dialog-title>
    Folgemeldung
  </h1>
  <p id="dialog-paragraph">Bitte geben Sie die Meldungs-ID der Initialmeldung an, auf die Sie sich beziehen. Die
    Meldungs-ID ist Teil einer jeden DEMIS-Meldung und wird auf der Meldungsquittung zurückgegeben. Wenn Sie nicht
    Erstmelder für diesen Fall waren, sollte Ihnen die Meldungs-ID z.B. in Form der Meldungsquittung-Zusatzseite
    zusammen mit der Probe übergeben worden sein.</p>

  <mat-form-field
    appearance="outline"
    floatLabel="always"
    [ngClass]="getInputClass()"
  >
    <mat-label>Initiale Meldungs-ID</mat-label>
    <input
      id="initialNotificationIdInput"
      matInput
      [formControl]="initialNotificationIdControl"
      placeholder="Bitte eingeben"
      [ngClass]="getInputClass()"
      [readOnly]="validationStatus()"
    />
    @if (getValidationStyle() === 'valid') {
      <mat-icon class="icon-valid" matSuffix>check</mat-icon>
    }
    @if (getValidationStyle() === 'invalid') {
      <mat-icon class="icon-invalid" matSuffix>warning_amber</mat-icon>
    }
    <mat-error *ngIf="initialNotificationIdControl.hasError('required')">Meldungs-ID ist erforderlich</mat-error>
    <mat-error *ngIf="initialNotificationIdControl.hasError('invalid')">Die von Ihnen angegebene ID konnte nicht
      gefunden werden. Überprüfen Sie die ID oder stellen Sie sicher, dass die Erstmeldung nicht älter als 30 Tage ist.
      Alternativ setzen Sie bitte die Meldung namentlich ab.
    </mat-error>
  </mat-form-field>
  <p [id]="(getValidationStyle() === 'invalid') ? 'final-dialog-paragraph-error' : 'final-dialog-paragraph'">
    Alternativ hier die Meldung eines <a [routerLink]="['/pathogen-notification/7.1']" (click)="closeDialog()">
    namentlichem Erregernachweis nach §7.1 IfSG</a> absetzen.
  </p>

  <div class="button-row" mat-dialog-actions>
    <button
      id="btn-back-to-homepage"
      mat-button
      class="btn style color"
      (click)="navigateToWelcomePage()"
    >Zurück zur Startseite
    </button>
    @if (validationStatus() !== true) {
      <button
        id="btn-check-id"
        mat-button
        class="btn style dark--color"
        [disabled]="!isTextInputValid()"
        (click)="validateNotificationId(this.initialNotificationIdControl.value)"
      >Überprüfen
      </button>
    }

    @if (validationStatus()) {
      <button
        id="btn-next"
        mat-button
        class="btn style dark--color"
        (click)="closeDialog()"
      >Weiter
      </button>
    }
  </div>
</div>
