<mat-drawer-container>
  <mat-drawer class="tabs-navigation" mode="side" opened>
    <div>
      <app-side-navigation-stepper
        [currentStep]="currentStep"
        [steps]="steps"
        [model]="model"
      ></app-side-navigation-stepper>
      <app-hexhexbutton (paste)="handleHexhexButtonClick()"></app-hexhexbutton>
      <app-paste-box (paste)="handlePasteBoxClick()"></app-paste-box>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>{{ headline }}</mat-toolbar>
    <div class="section-header">
      <h1>{{ currentStepHeadline }}</h1>
      <div class="oval-label">
        Schritt {{ currentStep + 1 }} von {{ maxNumberOfSteps }}
      </div>
    </div>
    <div class="section-body">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
