.tabs-navigation {
  width: 25vw;
  max-width: 437px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.stepper-heading {
  max-width: 345px;
  padding-bottom: 15px;
  font-size: 15px;
  color: var(--color-primary);
}

.section-body {
  padding: 0 20px;
}

.section-header {
  padding: 45px 20px 20px;
}

//remove when featureFlag FEATURE_FLAG_PORTAL_PAGE_STRUCTURE is removed
.section-header_deprecated {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  padding: 44px 20px 20px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

//remove when featureFlag FEATURE_FLAG_PORTAL_PAGE_STRUCTURE is removed
.oval-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #000;
  padding: 0.2rem 0.5rem;
  color: #161616;
}

