.tabs-navigation {
  width: 25vw;
  max-width: 437px;
  padding-top: 44px;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-content-without-footer {
  padding-left: 44px;
  padding-right: 44px;
}

gem-demis-forms-footer {
  margin-top: auto;
}

.stepper-heading {
  max-width: 345px;
  padding-bottom: 15px;
  font-size: 15px;
  color: var(--color-primary);
}

.section-body {
  padding: 0 20px;
}

// TODO: can be removed when portal-core sidenav and gem-demis-section-header is used
.section-header {
  padding: 45px 20px 0;
}


