.mat-stepper-vertical {
  margin-bottom: 20px;
}

[id^="step-invalid"] {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.mat-step-icon {
  height: 20px !important;
  width: 20px !important;

  &.mat-step-icon-state-done {
    color: var(--color-primary) !important;
  }

  &.mat-step-icon-state-number {
    // NEWDESIGN
    border: 1px dashed var(--color-primary) !important;
    background: transparent !important;
    color: var(--color-primary) !important;

    // NEWDESIGN this hides the numbers
    //&.mat-step-icon-state-number .mat-step-icon-content span {
    //  display: none;
    //}

    &.mat-step-icon-selected {
      border: 1px solid var(--color-primary) !important;
      font-weight: 700 !important;

      .mat-step-icon-content {
        font-weight: 700 !important;
      }
    }

    .mat-step-icon-content {
      font-weight: 700;
    }
  }

  &.mat-step-icon-state-error {
    border: 1px solid var(--color-primary) !important;

    .mat-step-icon-content {
      color: var(--color-primary) !important;
    }
  }
}

.mat-step-label {
  font-size: 14px !important;
  font-weight: 400;
  color: var(--color-primary) !important;

  &.mat-step-label-active.mat-step-label-selected {
    font-weight: 700;
  }
}

.mat-step-header[aria-labelledby="disabled_step"] {
  pointer-events: none !important;

  .mat-step-icon {
    border: 1px solid var(--color-neutral-light) !important;
  }

  .mat-step-label .mat-step-text-label,
  .mat-step-icon .mat-step-icon-content {
    color: var(--color-neutral-light) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// NEWDESIGN this changes the spacing between the steps
.mat-step .mat-vertical-stepper-header {
  padding: 5px;
  margin-bottom: 15px;
}

// NEWDESIGN this removes the stepper bar
.mat-step .mat-vertical-content-container {
  display: none;
}
