<mat-stepper
  (selectionChange)="onStepChange($event)"
  [selectedIndex]="currentStep()"
  id="stepper-form-test"
  orientation="vertical"
>
  @for (step of steps(); track $index; let i = $index) {
    <mat-step
      [completed]="step.formControl?.touched && isTouchedAndValid(step)"
      [hasError]="step.formControl?.touched && !isTouchedAndValid(step)"
      [attr.aria-label]="step.props.label"
      [aria-labelledby]="isEditable(i)"
    >
      <ng-template matStepLabel>
        <span [id]="'step-header-' + getStepId(step)">{{ step.props.label }}</span>
      </ng-template>
      <!-- Done (weird but its angular state "edit") -->
      <ng-template matStepperIcon="edit" let-index="index">
        <mat-icon [id]="'step-valid-' + getStepId(steps()[index])">done</mat-icon>
      </ng-template>
      <!-- Error  -->
      <ng-template matStepperIcon="error" let-index="index">
        <mat-icon [id]="'step-invalid-' + getStepId(steps()[index])">close</mat-icon>
      </ng-template>
      <!-- Active State/Default State-->
      @if (step?.fieldGroup?.length > 0) {
        <ng-template
          let-index="index"
          matStepperIcon="number"
        >
          @if (isTouchedAndValid(steps()[index])) {
            <mat-icon
              [id]="'step-valid-' + getStepId(steps()[index])"
            >done
            </mat-icon>
          }
          @if (steps()[index].formControl?.touched && !isTouchedAndValid(steps()[index])) {
            <mat-icon
              [id]="'step-invalid-' + getStepId(steps()[index])"
            >close
            </mat-icon>
          }
          @if (!steps()[index].formControl?.touched && !isTouchedAndValid(steps()[index])) {
            <mat-icon [id]="'step-default-' + getStepId(steps()[index])"
            />
          }
        </ng-template>
      }
    </mat-step>
  }
</mat-stepper>
