<div class="d-flex flex-column" id="error-panel">
  <h1 id="error-title" mat-dialog-title>
    <mat-icon class="mr-3" id="icon-error">error</mat-icon>
    {{ error.title }}
  </h1>

  @if (!isError(error.type!)) {
    <div
      class="d-flex flex-column flex-grow-1 pb-1"
      mat-dialog-content
    >
      <h4 id="warning-message">{{ error.message }}</h4>
      <div [innerHTML]="error.messageDetails" id="warning-messagedetails"></div>
    </div>
  }
  @if (isError(error.type!)) {
    <div
      class="d-flex flex-column flex-grow-1 pb-1"
      mat-dialog-content
    >
      <h4 id="error-message">{{ error.message }}</h4>
      @if (error.messageDetails) {
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title id="details"> Mehr Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div mat-dialog-content>
              <div
                [innerHTML]="error.messageDetails"
                id="error-messagedetails"
              ></div>
            </div>
            @if (!!error.validationErrors) {
              <div>
                <table
                  [dataSource]="error.validationErrors"
                  class="mat-elevation-z8"
                  mat-table
                  aria-describedby="validation-errors"
                >
                  <ng-container matColumnDef="field">
                    <th *matHeaderCellDef mat-header-cell>Field</th>
                    <td *matCellDef="let element" mat-cell>{{ element.field }}</td>
                  </ng-container>
                  <ng-container class="ml-3" matColumnDef="message">
                    <th *matHeaderCellDef mat-header-cell>Message</th>
                    <td *matCellDef="let element" mat-cell>{{ element.message }}</td>
                    <th *matHeaderCellDef mat-header-cell>Field</th>
                    <td *matCellDef="let element" mat-cell>{{ element.field }}</td>
                  </ng-container>
                  <ng-container class="ml-3" matColumnDef="message">
                    <th *matHeaderCellDef mat-header-cell>Message</th>
                    <td *matCellDef="let element" mat-cell>{{ element.message }}</td>
                  </ng-container>
                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
                </table>
              </div>
            }
          </mat-expansion-panel>
        </mat-accordion>
      }
    </div>
  }

  <div class="col-sm-12 button-container" mat-dialog-actions>
    <button
      [mat-dialog-close]="false"
      [routerLink]="error?.actions[0]?.value === 'close' ? null : ['/']"
      routerLinkActive="active"
      class="btn style dark-color"
      id="btn-conf-dialog-no"
      mat-button
    >
      <h4 id="error-button">{{ error?.actions[0]?.label }}</h4>
    </button>
  </div>
</div>
