{{- $configMapData := dict }}
{{- $_ := set $configMapData "production" .Values.config.production }}
{{- $_ = set $configMapData "pathToGateway" .Values.config.pathToGateway }}
{{- $_ = set $configMapData "pathToFuts" (mergeOverwrite (deepCopy .Values.config) (default .Values.config.newApiEndpoints dict)).pathToFuts }}
{{- $_ = set $configMapData "pathToDestinationLookup" .Values.config.pathToDestinationLookup }}
{{- $_ = set $configMapData "gatewayPaths" .Values.config.gatewayPaths }}
{{- $_ = set $configMapData "futsPaths" .Values.config.futsPaths }}
{{- $_ = set $configMapData "featureFlags" .Values.config.featureFlags }}
{{- $_ = set $configMapData "ngxLoggerConfig" .Values.config.ngxLoggerConfig }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "portal-pathogen.fullversionname" . }}
  labels:
    {{- include "portal-pathogen.labels" . | nindent 4 }}
data:
  environment.json: |-
{{ $configMapData | toPrettyJson | indent 4 }}
