{{- $configMapData := dict }}
{{- $_ := set $configMapData "production" .Values.config.production }}
{{- $endpointsRoot := ternary .Values.config.newApiEndpoints .Values.config (eq (.Values.config.featureFlags.FEATURE_FLAG_NEW_API_ENDPOINTS | toString) "true" ) }}
{{- $_ = set $configMapData "pathToGateway" $endpointsRoot.pathToGateway }}
{{- $_ = set $configMapData "pathToFuts" $endpointsRoot.pathToFuts }}
{{- $_ = set $configMapData "gatewayPaths" (deepCopy $endpointsRoot.gatewayPaths | mergeOverwrite (deepCopy .Values.config.gatewayPaths) ) }}
{{- $_ = set $configMapData "futsPaths" .Values.config.futsPaths }}
{{- $_ = set $configMapData "featureFlags" .Values.config.featureFlags }}
{{- $_ = set $configMapData "ngxLoggerConfig" .Values.config.ngxLoggerConfig }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "portal-pathogen.fullversionname" . }}
  labels:
    {{- include "portal-pathogen.labels" . | nindent 4 }}
data:
  environment.json: |-
{{ $configMapData | toPrettyJson | indent 4 }}
