<app-side-navigation-wrapper
  [currentStepHeadline]="field.fieldGroup[selectedIndex].props.label"
  [currentStep]="selectedIndex"
  [maxNumberOfSteps]="field.fieldGroup.length"
  [model]="field.model"
  [steps]="field.fieldGroup"
>
  <mat-tab-group
    [selectedIndex]="selectedIndex"
    animationDuration="0000"
    class="mat-tab-container"
  >
    @for (tab of field.fieldGroup; track
      tab; let last = $last; let first = $first) {
      <mat-tab
        [label]="tab.props.label"
      >
        <gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar', '#pathogen-tab-section-header_deprecated', '#pathogen-tab-section-header', '#pathogen-actions-bar']">
          <formly-field [field]="tab"></formly-field>
        </gem-demis-max-height-content-container>
        <mat-toolbar id="pathogen-actions-bar">
          <mat-toolbar-row>
            <div>
              <a fragment="{{ field.fieldGroup[selectedIndex].props.anchor }}" routerLink="./">@if (!first) {
                <button (click)="previousStep()" class="btn navigate--color style" id="btn-nav-action-back"
                        mat-button type="button">
                  <mat-icon class="btn__icon margin--right" fontIcon="arrow_back_ios"></mat-icon>
                  Zurück
                </button>
              }
              </a>
            </div>
            <div>
              <div class="div display--flex">
                <div>
                  <a
                    fragment="{{ field.fieldGroup[selectedIndex].props.anchor }}"
                    routerLink="./"
                  >
                    @if (!last && checkPathogenSelection(model, field.fieldGroup[selectedIndex].props.label)) {
                      <button (click)="nextStep(field.fieldGroup.length)"
                              class="btn navigate--color style forward" id="btn-nav-action-next"
                              mat-button type="button">
                        Weiter
                        <mat-icon class="btn__icon margin-left" fontIcon="arrow_forward_ios" iconPositionEnd></mat-icon>
                      </button>
                    }
                  </a>
                </div>
                <div class="div margin--left">
                  <button [disabled]="!form.valid" class="btn style dark--color" id="btn-send-notification"
                          mat-button type="submit">
                    Abschicken
                    <mat-icon class="btn__icon margin--left rotate" fontIcon="send" iconPositionEnd></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-tab>
    }
  </mat-tab-group>
</app-side-navigation-wrapper>
