$container-max-width: 1140px;

a {
  text-decoration: none;
}

formly-field {
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 1;
  overflow-x: hidden !important;
  margin-right: 30px;
}

mat-toolbar {
  background: var(--color-white);
  justify-content: space-between;
  max-width: 1140px;

  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}

.mat-tab-container {
  max-width: $container-max-width;
  margin: 0 auto;
  overflow: hidden;
}

::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}

::ng-deep mat-tab-header {
  visibility: hidden;
  height: 0;
}

.div {
  &.display--flex {
    display: flex;
  }

  &.margin--left {
    margin-left: 20px;
  }
}
