@use "@angular/material" as mat;

mat-spinner {
  margin: auto;
  stroke: var(--color-primary);
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

mat-radio-group {
  flex-direction: row;
}

// Validation errors below the fields should be left aligned
mat-error {
  transform: translateX(-1.2em)
}

// information icon
.primary-color-icon {
  margin-top: 5px;
  margin-right: 5px;
  color: var(--color-primary);
}

mat-panel-title {
  margin-top: 5px;
}

// all radio groups should be aligned as row except for existsBsnr
#existsBsnr {
  flex-direction: column !important
}

#icon-success {
  color: #13c100;
  position: relative;
  padding-right: 5px
}

#icon-error {
  color: red;
  position: relative;
  top: 5px;
  padding-right: 5px;
}

#accordion-wrapper {
  transform: scaleX(99.8%)
}

.hidden-field,
.oneTimeCode {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 25%;
  z-index: -1;
}

formly-field.grayed-out-element formly-wrapper-mat-form-field mat-form-field .mat-mdc-text-field-wrapper, formly-field.grayed-out-element formly-template {
  color: var(--color-neutral-medium) !important;
  opacity: 0.5;
}

::ng-deep .mat-mdc-button {
  .mdc-button__label {
    letter-spacing: 0;
  }

  &:hover {
    background-color: #f1f4f4;
  }
}
