div {
  padding: 1rem 1.5rem;
  background-color: #e7f5ff;
  margin: 20px;

  button {
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    color: #0f62fe;
    border: 1px solid #0f62fe;
    border-radius: 0;
    background: transparent;
    font-size: 14px;
    display: flex;

    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #f1f4f4;
    }
  }
}
