
.bs-linebreak {
  height: 10px;
}

button {
  color: var(--color-primary) !important;
  border-color: rgba(0, 3, 3, 0.12) !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.d-flex {
  height: 50px
}

.col-sm-1 {
  margin-top: 8px;
  margin-left: -10px
}

.fat-icon {
  font-size: 28px
}

.disabled-button {
  pointer-events: none;
}

.disabled-icon {
  color: var(--color-neutral-light) !important;
}
