<div class="add-favorites-container">
  <div class="favorites-actions">
    @if (!(isPathogenInFavorites()) && !isMaxNumberOfFavorites()) {
      <mat-icon class="primary-color-icon">favorite_border</mat-icon>
      <a
        (click)="addPathogenToFavorites()"
        (keydown.enter)="addPathogenToFavorites()"
        class="add-favorites-add-button"
        role="button"
        tabindex="0"
      >An Favoriten anheften</a
      >
    }

    @if (isPathogenInFavorites()) {
      <mat-icon color="primary" id="remove-favorites">delete</mat-icon>
      <a
        (click)="removePathogenFromFavorites()"
        (keydown.enter)="removePathogenFromFavorites()"
        class="add-favorites-remove-button"
        role="button"
        tabindex="0"
      >Aus Favoriten entfernen</a
      >
    }

    @if (isMaxNumberOfFavorites() && !isPathogenInFavorites()) {
      <span
        class="max-favorites-message"
      >Maximale Anzahl an Favoriten ({{ maxFavorites }}) erreicht. Bitte löschen
            Sie erst einen Favoriten im vorherigen Schritt, um diesen anlegen zu
            können.</span
      >
    }
  </div>
</div>
